@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
:where(.css-dev-only-do-not-override-1kuana8).ant-image {
  display: block;
}
.parent-class .ant-image {
  display: block;
}
.ant-image {
  display: block;
}
.ant-layout-sider-light {
  background: "#135D66";
}
.ant-layout-sider-children{
  background-color: "#135D66";
}
.ant-menu-item{
  background-color: "#135D66";

}